/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body {
     margin: 0; 
     font-family: Roboto, "Helvetica Neue", sans-serif;
     background-color: rgb(61, 198, 252); 
}

.nxtbtn {
    position: absolute;
    bottom: 10px;
    right: 30px;
    padding: 1vw 2vw;
    border-radius: 25px;
    background-color: red;
    color: white;
    cursor: pointer;
}

.backbtn {
    position: absolute;
    bottom: 10px;
    left: 30px;
    padding: 1vw 2vw;
    border-radius: 25px;
    background-color: rgb(218, 218, 218);
    color: black;
    cursor: pointer;
}

.fcard {
    position: relative;
    width: 50vw;
    height: 30vw;
    background-color: white;
    box-shadow: 
    0 1px 2px rgba(0,0,0,0.15),
    /* The second layer */
    10px 10px 0 -5px #eee,
    /* The second layer shadow */
    10px 10px 2px -4px rgba(0,0,0,0.15),
     /* The third layer */
    20px 20px 0 -10px #eee,
    /* The third layer shadow */
    20px 20px 2px -9px rgba(0,0,0,0.15);
    /* Padding for demo purposes */
    padding: 30px;
    border: solid rgb(192, 192, 192) 2px;
    border-radius: 10px;
}
