.fcard {
    margin: auto;
    width: 50vw;
    height: 30vw;
    background-color: white;
    box-shadow: 
    0 1px 2px rgba(0,0,0,0.15),
    /* The second layer */
    10px 10px 0 -5px #eee,
    /* The second layer shadow */
    10px 10px 2px -4px rgba(0,0,0,0.15),
     /* The third layer */
    20px 20px 0 -10px #eee,
    /* The third layer shadow */
    20px 20px 2px -9px rgba(0,0,0,0.15);
    /* Padding for demo purposes */
    padding: 30px;
}